<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.qsapp.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>QSActions</key>
	<dict>
		<key>NetworkingExampleAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSNetworkingActionProvider</string>
			<key>actionSelector</key>
			<string>performActionOnObject:</string>
			<key>directTypes</key>
			<array>
				<string>QSNetworkingType</string>
			</array>
			<key>icon</key>
			<string>ToolbarAdvanced</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Rob McBroom</string>
		<key>categories</key>
		<array>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Manage wireless connections, locations, etc.</string>
		<key>extendedDescription</key>
		<string>&lt;h1&gt;Quicksilver Networking Plug-in&lt;/h1&gt;</string>
		<key>icon</key>
		<string>GenericNetworkIcon</string>
		<key>recommended</key>
		<true/>
	</dict>
	<key>QSPresetAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetNetworkingGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetNetworkingExample</string>
					<key>name</key>
					<string>Items from Networking</string>
					<key>source</key>
					<string>QSNetworkingSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>KEXT</string>
			<key>name</key>
			<string>Networking Presets</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSNetworkingActionProvider</key>
			<string>QSNetworkingActionProvider</string>
		</dict>
		<key>QSApplicationActionsTemplate</key>
		<dict>
			<key>com.domain.application</key>
			<dict>
				<key>NetworkingExampleCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSNetworkingActionProvider</string>
					<key>command</key>
					<string>NetworkingExampleCommand</string>
					<key>name</key>
					<string>Application Action Example</string>
				</dict>
			</dict>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>QSNetworkingType</key>
			<string>QSNetworkingSource</string>
		</dict>
		<key>QSBundleChildHandlersTemplate</key>
		<dict>
			<key>com.domain.application</key>
			<string>QSNetworkingSource</string>
		</dict>
		<key>QSCommandsTemplate</key>
		<dict>
			<key>NetworkingExampleCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSNetworkingActionProvider</string>
								<key>actionSelector</key>
								<string>someSelector</string>
								<key>icon</key>
								<string>defaultAction</string>
								<key>name</key>
								<string>Do Something</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>NetworkingInternalCommand</string>
				</dict>
			</dict>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSNetworkingType</key>
			<string>QSNetworkingSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSNetworkingSource</key>
			<string>QSNetworkingSource</string>
		</dict>
		<key>QSPreferencePanesTemplate</key>
		<dict>
			<key>NetworkingPrefPaneTemplate</key>
			<dict>
				<key>class</key>
				<string>NetworkingPrefPane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>Networking</string>
			</dict>
		</dict>
		<key>QSProxies</key>
		<dict>
			<key>QSNetworkExternalIPProxy</key>
			<dict>
				<key>icon</key>
				<string>GenericNetworkIcon</string>
				<key>name</key>
				<string>External IP Address</string>
				<key>providerClass</key>
				<string>QSNetworkingSource</string>
				<key>types</key>
				<array>
					<string>NSStringPboardType</string>
				</array>
			</dict>
			<key>QSNetworkIPAddressProxy</key>
			<dict>
				<key>icon</key>
				<string>GenericNetworkIcon</string>
				<key>name</key>
				<string>IP Address</string>
				<key>providerClass</key>
				<string>QSNetworkingSource</string>
				<key>types</key>
				<array>
					<string>NSStringPboardType</string>
				</array>
			</dict>
		</dict>
		<key>QSTriggerEventsTemplate</key>
		<dict>
			<key>NetworkingSomeEvent</key>
			<dict>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>Do something in response to this event</string>
				<key>provider</key>
				<string>QSNetworkingSource</string>
			</dict>
		</dict>
		<key>QSTriggerSetsTemplates</key>
		<dict>
			<key>NetworkingTriggers</key>
			<dict>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>Networking</string>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>QSNetworkingType</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>Networking Object</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>plugins</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.qsapp.Another.PlugIn</string>
				<key>name</key>
				<string>Another Plug-in</string>
			</dict>
		</array>
	</dict>
	<key>QSTriggerAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>NetworkingTrigger</string>
			<key>command</key>
			<string>NetworkingExampleCommand</string>
			<key>defaults</key>
			<dict>
				<key>characters</key>
				<string>x</string>
				<key>keyCode</key>
				<integer>124</integer>
				<key>modifiers</key>
				<integer>9961768</integer>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Example Trigger</string>
			<key>set</key>
			<string>Networking</string>
		</dict>
	</array>
</dict>
</plist>
